{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "object-curly-newline": ["error", {
      "ObjectExpression": {
        "multiline": true
      },
      "ObjectPattern": {
        "multiline": true
      },
      "ImportDeclaration": "never",
      "ExportDeclaration": {
        "multiline": true,
        "minProperties": 3
      }
    }]
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": "webpack"
  }
}
